* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

/* navbar start */
nav.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  display: flex;
  justify-content: center;
  gap: 32rem;
  align-items: center;
  z-index: 9998;
}

nav.navbar img.navbar-logo {
  width: 4.8rem;
  height: auto;
}

nav.navbar .navbar-nav {
  display: flex;
}

.navbar-nav a {
  color: black;
  margin-left: 3rem;
  transition: all .3s;
}

.navbar-nav a:hover {
  color: #ff5e00;
}

.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: .1rem;
  border-bottom: .12rem solid #ff5e00;
  transform: scaleX(0);
  transition: all .3s linear;
}

.navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

nav.navbar .navbar-extra {
  display: none;
}

.navbar-extra .burger-menu {
  display: none;
}

.burger-menu div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6.5px;
  transition: all .3s;
}
/* navbar end  */

/* hero start */
section.hero {
  position: relative;
}

section.hero .background-hero {
  height: 823px;
  background-image: url(../img/background/banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32rem;
}

.background-hero .hero-left {
  margin-top: 6rem;
  margin-right: 10.5rem;
}

.hero-left h1.hero-heading {
  color: white;
  font-weight: 200;
  font-size: 4.68rem;
  line-height: 5.2rem;
}

h1.hero-heading span {
  font-weight: 700;
}

.hero-left p.hero-paragraf {
  color: white;
  margin-top: 1rem;
  font-size: .96rem;
  font-weight: 300;
  line-height: 2.1rem;
}

.hero-left a.hero-link {
  display: inline-block;
  color: #ff5e00;
  background-color: white;
  padding: 1.1rem 3.1rem;
  margin-top: 3rem;
  font-weight: 500;
  border-radius: 30px;
}

.hero-right img {
  position: absolute;
  width: 930px;
  top: 11.5rem;
  right: 13rem;
}
/* hero end */

/* services start */
section.services {
  padding: 15rem 0 6.7rem 0;
}

section.services h1.title-services {
  text-align: center;
  font-size: 3rem;
}

section.services p.paragraph-services {
  text-align: center;
  font-weight: 400;
  color: gray;
  width: 38rem;
  margin: .1rem auto 0 auto;
}

section.services .card-services-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 5rem 0 0 0;
}

.card-services-group .card-service {
  height: 30.5rem;
  /* height: auto; */
  width: 22rem;
  border: 1px solid rgb(255, 203, 173);
  border-radius: 10px;
  padding: 4.5rem 1.5rem;
}

.card-service .service-icon-bg {
  width: 160px;
  height: 140px;
  margin: 0 auto;
  background-image: url(../img/services/service_icon_bg_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-service .service-text {
  margin: 43px 0 0 0;
  text-align: center;
}

.service-text h3 {
  font-size: 1.6rem;
  padding: 0 0 22px 0;
  font-weight: 600;
}

.service-text p {
  font-weight: 400;
  line-height: 1.8rem;
  color: #909092;
}
/* services end */